@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --texto-primario: rgba(255, 255, 255, .9);
    --texto-secundario: rgba(255, 255, 255, .6);
    --fundo-card: #1b2226;
    --primario: #70b5f9;
    --input: #38434f;
    --positivo: #3ec786;
    --texto-escuro: hsla(0, 0%, 0%, .75);
    --fundo-card-ativo: hsla(0, 0%, 100%, .12);
}

body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

main {
    padding: 0 5rem;
    display: flex;
    gap: 10%;

}
section {
    background-color: var(--fundo-card);
    border: 4px solid var(--fundo-card);
    border-radius: 16px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}
.main-container {
    width: 70%;
}
article {
    width: 30%;
    margin-top: 1rem;
}

.section-titulo {
    margin-bottom: 1rem;
}

.card-foto {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    float: left;
}

.card-titulo {
    line-height: 1.2rem;
    font-weight: 600;
}

.card-subtitulo {
    font-weight: 400;
    font-size: .9rem;
}

.card-info {
    color: var(--texto-secundario);
    font-weight: 400;
    font-size: .8rem;
}

.card-content {
    padding: .6rem 0;
}

.destaque {
    color: var(--primario);
    font-weight: 600;
}

hr {
    border: 1px solid var(--texto-secundario);
}