.section_atividades {
    display: flex;
    flex-direction: column;

    .section-titulo {
        margin-bottom: 0;
    }
}

.card-com-borda {
    border-bottom: 1px solid var(--texto-secundario);
    padding-top: .8rem;

    img {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 1rem;
    }

    p {
        text-align: justify;
    }

    .destaque-card-info {
        padding: 0;
    }
}
.section_atividades a {
    text-decoration: none;
    align-self: center;
    margin-top: .5rem;
}

